{:base {:-deps 
        [metosin/spec-tools 
         net.cgrand/xforms
         com.taoensso/timbre 
         aero/aero 
         cheshire/cheshire] 
        :dev [djblue/portal]
        :test [org.clojure/test.check]} 
 :http [http-kit/http-kit]
 :sql [com.github.seancorfield/honeysql com.github.seancorfield/next.jdbc]
 :mysql #merge [#ref [:sql] mysql/mysql-connector-java]
 :ring [ring/ring ring/ring-defaults]
 :compojure #merge [#ref [:ring] compojure/compojure]}
