{:base 
 {:deps {org.clojure/clojure {:mvn/version "1.11.1"}
         aero/aero {:mvn/version "1.1.6"}
         metosin/spec-tools {:mvn/version "0.10.5"}
         net.cgrand/xforms {:mvn/version "0.19.4"}
         com.taoensso/timbre {:mvn/version "6.0.4"}
         cheshire/cheshire {:mvn/version "5.11.0"}}
  :ailases
  {:test {:extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}
   :dev {:extra-deps {djblue/portal {:mvn/version "0.35.1"}}}}}

 :http 
 {:deps {http-kit/http-kit {:mvn/version "2.7.0-alpha1"}}}
 
 :sql 
 {:deps {com.github.seancorfield/honeysql {:mvn/version "2.4.980"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.3.999-SNAPSHOT"}}}
 
 :mysql
 #merge [#ref [:sql] 
         {:deps {mysql/mysql-connector-java {:mvn/version "5.1.6"}}}]

 :ring 
 {:deps {ring/ring {:mvn/version "1.9.6"}
         ring/ring-defaults {:mvn/version "0.3.4"}}}
 
 :compojure
 #merge [#ref [:ring] 
         {:deps {compojure/compojure {:mvn/version "1.7.0"}}}]}
