{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        aero/aero {:mvn/version "1.1.6"}
        borkdude/rewrite-edn {:mvn/version "0.4.6"}
        org.babashka/cli {:mvn/version "0.6.49"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :neil {:project {:name lojdouts/lojdouts}}}

 :tasks
 {clean {:doc "Removes target folder"
         :requires ([babashka.fs :as fs])
         :task (fs/delete-tree "target")}
  build {:doc "Creates an executable uberscript in the target directory"
         :requires ([babashka.process :as proc]
                    [babashka.fs :as fs])
         :task (let [shebang "#!/usr/bin/env bb"]
                 (do (fs/create-dir "./target")
                     (proc/shell "bb uberscript lojd -f src/lojdouts/lojdouts.clj")
                     (spit "./lojd" (format "%s\n\n%s" shebang (slurp "./lojd")))
                     (fs/set-posix-file-permissions "./lojd" "rwxr--r--")
                     (fs/move "./lojd" "./target/lojd")))}
  build:clean {:doc "Cleans the target dir and then creates an uberscript there"
               :task (do (run 'clean)
                         (run 'build))}}

 :min-bb-version "1.2.174"}
